
.main_container{
    background-color: #f0e9dc;
}
.sale{
    font-weight: bold;
    text-transform: uppercase;
    background-color: cadetblue;
    color: #f0e9dc;
    text-shadow: rgb(0, 0, 0) 1px 0px 10px;
    padding: 25px;
   text-align: center;
    transform-origin: center bottom;
    animation: sale 2s infinite;
}
@keyframes sale{
    0%, 20%, 55%, 80%,to{
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
        transform: translateZ(0);
    }
    40%,45%{
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translateZ(0, -30px, 0);
    }
    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translateZ(0, -15px, 0);
    }
    90%{
        transform: translate3d(0 , -4px ,0);
    }
}





 .box-2 div .row{
    height: 200px;
}

 .box-2{
    margin-top: 35px;
    margin-bottom: 35px;
    flex-wrap: wrap;
}

.card{

    margin-left: 55px;
    padding-right: 0px;
    background-color: #f0e9dc;
    border: none;
}

.btn{
    background-color: cadetblue;
    border: none;
    text-shadow: rgb(0, 0, 0) 0 0 1px;
}
.img-size{
    width: 100%;
    height: 160px;
    object-fit: cover;
   
}


.infor_section .row ul li {
  list-style: none;
     
 }





   
 
 @media screen and (min-width:992px){
    .container{
        background-color: pink;
    }
    
 }


 /* Use in @media query if you want to remove display:none to remove something when the object */